* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #00B7FF;
}
.compactHeader {
  min-height: 80px;
}
.compactHeader img {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.compactHeader h1 {
  padding-top: 10px;
}
.navLink {
  float: right;
  margin-right: 15px;
}
.fullHeader {
  text-align: center;
}
.fullHeader img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
main {
  text-align: center;
}
h1, h2, p {
  margin: 0 0 10px 0;
}
.button, .buttonSmall {
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.button {
  display: inline-block;
  width: 100%;
  max-width: 278px;
}
.buttonSmall {
  display: inline-block;
  width: 50%;
  max-width: 145px;
}
.buttonSmall:first-of-type {
  margin-left: 15px;
}
.boxed {
  padding: 20px;
  background-color: #EEE;
  margin-bottom: 40px;
}
input, select, .radioSets {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
  display: block;
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  width: 100%;
  /*max-width: 278px;*/
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  /* make inputs and selects same width
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;*/
}
input[type='radio'] {
  display: block;
  width: 36px;
  float: left;
}
.radioSet{
  float: left;
  margin-top: 10px;
  width: 50%;
}
.radioSet > label {
  margin-top: 2px;
}
select:invalid {
  color: gray;
}
label {
  text-align: left;
  display: block;
}
fieldset {
  border: none;
  padding: 0;
}
.listItem {
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin: 30px 0;
}
.listItem img {
  width: 24px;
  height: 24px;
  float: right;
}
/* .listItemLink {
  color: black;
  text-decoration: none;
} */
.clientHeader, .providerHeader {
  text-align: left;
  margin-bottom: 20px;
}
.clientHeader > .buttonSmall, .providerHeader > .buttonSmall {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}
.boxedInfoItem {
  display: inline-block;
  /* color: black; */
  text-align: left;
  /* text-decoration: none; */
  width: 100%;
  min-width: 278px;
  padding: 10px;
  background-color: #EEE;
  margin-bottom: 12px;
}
.boxedInfoItem img {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.boxedInfoItem p {
  line-height: 24px;
  padding: 0;
  margin: 0;
}
.petsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 0 0;
}
.petThumbnail {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;
  height: 100px;
  padding: 10px;
  margin: 0 12px 12px 0;
  color: black;
  text-decoration: none;
  background-color: #EEE;
}
.petThumbnail img {
  height: 50px;
}
.popupOverlay {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popupContent {
  position: absolute;
  background-color: white;
  width: 100%;
  max-width: 300px;
  padding: 50px 50px 35px 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popupContent h2, p {
  margin-bottom: 20px;
}
.popupOverlay.active{
visibility:visible;
}
.visuallyhidden {
  /*border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;*/
}